/*------------------------------------------------------------------------------
| application.css
| application name v1.0
| Author(s): Author Name
| Created: yyyy-mm-dd
|
| This file rolls up the main styles for the entire application. You'll need to
| include the IE-specific and print stylesheets, as well as the display-size-
| specific styles separately in your markup. See the readme for an explanation
| of the directory organization.
------------------------------------------------------------------------------*/
/*-----[ reset ]----------------------------------------------------------------
| Based on:
|   html5doctor.com Reset Stylesheet
|   v1.6 2010-08-18 | Authors: Eric Meyer & Richard Clark
|   <http://html5doctor.com/html-5-reset-stylesheet/>
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted inherit;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-style: none;
}

th, td, tr {
  border-style: none;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*-----[ colors ]---------------------------------------------------------------
| Variables defining the colors to be used throughout the application. Curious
| about the color names? Check out <www.colblindor.com/color-name-hue/> and 
| <http://chir.ag/projects/name-that-color/>.
*/
/*----------[ table of contents ]-----------------------------------------------
| palette
| backgrounds and borders
| text
| forms
*/
/*----------[ palette ]---------------------------------------------------------
*/
/* purple */
/* teal */
/* green */
/* yellow */
/* orange */
/* blue */
/* red */
/*----------[ backgrounds and borders ]-----------------------------------------
*/
/*----------[ text ]------------------------------------------------------------
*/
/*----------[ forms ]-----------------------------------------------------------
*/
/*-----[ typography ]-----------------------------------------------------------
*/
/*-----[ grid ]-----------------------------------------------------------------
| Style specifying the dimensions of the basic page grid and other common
| measures.
*/
/*-----[ foundation ]-----------------------------------------------------------
| Reusable content styles. Define your application-wide styles, like links,
| headers, body text, clearfix, etc. here. See the readme for information on
| recommended rule order.
*/
/*----------[ table of contents ]-----------------------------------------------
| tags
| content
| unsupported browser warning
| alerts
| pagination
*/
/*----------[ tags ]------------------------------------------------------------
*/
html {
  font-size: 62.5%;
}

a {
  color: #1673a1;
}
a:visited {
  color: #4a1a2b;
}
a:hover, a:active {
  color: #105374;
}

blockquote, dl, ol, p, pre, table, ul {
  margin: 2.2rem 0;
}

blockquote {
  margin-left: 2rem;
  color: gray;
}

body {
  background-color: white;
  color: #444444;
  font-family: Calibri, "Myriad Pro", Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-rendering: optimizeLegibility;
}

caption {
  font-style: italic;
}

dt {
  font-style: italic;
}

dd {
  margin: 0 0 2.2rem;
}

h1 {
  margin-bottom: 2.0rem;
  padding: 0;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

h2 {
  margin: 3.3rem 0 1.1rem;
  color: #207861;
  font-size: 1.8rem;
}

h3 {
  margin: 2.2rem 0 0;
  font-weight: normal;
  font-style: italic;
}

h1 + blockquote, h1 + dl, h1 + ol, h1 + ul, h1 + p, h2 + blockquote, h2 + dl, h2 + ol, h2 + ul, h2 + p, h3 + blockquote, h3 + dl, h3 + ol, h3 + ul, h3 + p {
  margin-top: 0;
}

hr {
  margin: 1rem auto 1.1rem;
  border-style: none;
  height: 1px;
  background-color: #808080;
}

ol, ul {
  margin-left: 2rem;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}

dl dl, ol ol, ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

pre {
  padding: 1.1rem 1rem;
  overflow: auto;
  background-color: #fff8f0;
}

table {
  width: 100%;
}

table, thead th {
  border-bottom: 0.2rem solid #d6d6d6;
}

td, th {
  padding: 0.55rem 0;
  padding-right: 2rem;
}
td:first-of-type, th:first-of-type {
  padding-left: 0.5rem;
}
td:last-of-type, th:last-of-type {
  padding-right: 0.5rem;
}

th {
  text-align: left;
}

body th, td {
  border-bottom: 0.1rem solid #d6d6d6;
}

ul {
  list-style-type: disc;
}

/*----------[ content ]---------------------------------------------------------
*/
.align-center {
  margin: 0 auto;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.annotation,
.fine-print,
.form-help {
  color: gray;
  font-weight: normal;
  font-style: italic;
}

.fine-print, .form-help {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

/* Clearfix style from <http://nicolasgallagher.com/micro-clearfix-hack/> */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

span.keep-together {
  white-space: nowrap;
}

.reset {
  clear: both;
  margin: 0;
  padding: 0;
  height: 0.1rem;
  font-size: 0;
}

.spacer {
  padding: 0;
  height: 1.1rem;
  font-size: 0;
}

.subtitle {
  font-weight: normal;
}

.subheading {
  font-weight: bold;
}

/*----------[ unsupported browser warning ]-------------------------------------
*/
#unsupported-browser-warning {
  display: none;
  margin: 2.2rem auto;
  border: 0.5rem solid #a02911;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  border-radius: 1.5rem;
  padding: 2.2rem 2rem;
  background-color: white;
}
.unsupported-browser #unsupported-browser-warning {
  display: block;
}
#unsupported-browser-warning h1 {
  color: #b72f14;
}
#unsupported-browser-warning a.dismiss {
  float: right;
  line-height: 2.4rem;
}
#unsupported-browser-warning p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  #unsupported-browser-warning {
    max-width: 65rem;
  }
}
/*----------[ alerts ]----------------------------------------------------------
*/
/*
** Generate a sprite image by putting all the icons into a subdirectory of
** images/. Then use the helpers sprite-url and sprite-position to place
** the icon in the background.
** 
** See below and the Compass documentation for more details.
**    <http://compass-style.org/reference/compass/helpers/sprites/>
*/
.alerts {
  margin: 0;
  list-style-type: none;
}
.alerts .message {
  position: relative;
  margin-bottom: 0.55rem;
  padding: 0.55rem 1rem;
  padding-left: 3rem;
  /*
  ** In order for a sprite to work properly, the element the sprite is set as
  ** the background of needs to be exactly sized to the sprite's dimensions.
  ** 
  ** But what if you want to use the sprite as a background for a much larger
  ** element? Like a single icon background to a block of text? That's exactly
  ** what we want to do here for the alert messages. I want the warning icon
  ** to be a background image placed in the top left of the message block,
  ** and so on.
  ** 
  ** So how'd I do it? By using the :after pseudo-element (:before would work
  ** equally well), sizing it to fit the icon-sprite size (in my case 16px 
  ** square), and positioning it where my background position would have been
  ** were I using the single icon image as a background.
  */
}
.alerts .message:after {
  position: absolute;
  top: 0.713rem;
  left: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  background-repeat: no-repeat;
  content: "";
}
.alerts .message.success {
  background-color: #f3f8be;
  color: #919e00;
}
.alerts .message.success:after {
  background-image: url('../images/icon-s8f000dbda0.png');
  background-position: 0 -32px;
}
.alerts .message.warning {
  background-color: #fff3c2;
  color: #cca300;
}
.alerts .message.warning:after {
  background-image: url('../images/icon-s8f000dbda0.png');
  background-position: 0 0;
}
.alerts .message.error {
  background-color: #fcebe7;
  color: #b72f14;
}
.alerts .message.error:after {
  background-image: url('../images/icon-s8f000dbda0.png');
  background-position: 0 -16px;
}

/*----------[ pagination ]------------------------------------------------------
*/
.pagination {
  margin-top: 1.1rem;
  white-space-collapse: discard;
}
.pagination .first, .pagination .prev, .pagination .page, .pagination .next, .pagination .last {
  display: inline-block;
  margin-right: 1rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  border-radius: 0.6rem;
  background-color: #e8e8e8;
}
.pagination .first a, .pagination .prev a, .pagination .page a, .pagination .next a, .pagination .last a {
  display: block;
  text-decoration: none;
}
.pagination .first a, .pagination .first.current, .pagination .first.gap, .pagination .prev a, .pagination .prev.current, .pagination .prev.gap, .pagination .page a, .pagination .page.current, .pagination .page.gap, .pagination .next a, .pagination .next.current, .pagination .next.gap, .pagination .last a, .pagination .last.current, .pagination .last.gap {
  padding: 0.55rem 1rem;
  background-color: transparent;
}

/*-----[ mixins ]---------------------------------------------------------------
| Define mixins and reusable CSS rulesets here. An example:
| 
|   $silver-sand: #c1c0be;
|   $content-inner-bg: white;
|   
|   @mixin content-inner-border
|   {
|     @include border-radius(5px);
|   }
|   
|   @mixin content-shadow
|   {
|     @include single-box-shadow($silver-sand, 0, 3px, 5px);
|   }
|   
|   @mixin content-inner-box
|   {
|     @include content-inner-border;
|     @include content-shadow;
|     background-color: $content-inner-bg;
|   }
*/
/*-----[ forms ]----------------------------------------------------------------
| Global form and form element styles. Feature-specific form styles should be
| co-located with other feature-specific styles.
*/
/*----------[ table of contents ]-----------------------------------------------
| text and password fields, textareas
| buttons and checkboxes
| form layout
| validation
| datepicker
*/
/*----------[ text and password fields, textareas ]-----------------------------
*/
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
  margin: 0;
  border: 0.1rem solid black;
  padding: 0.3rem;
  background-color: white;
  font-family: Calibri, "Myriad Pro", Tahoma, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

input[type=email][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type=text][disabled],
input[type=url][disabled],
select[disabled],
textarea[disabled] {
  border-color: silver !important;
  color: silver !important;
  cursor: default !important;
}

input[type=text].small {
  width: 5rem;
  margin-right: 0.33em;
}

/*----------[ buttons and checkboxes]-------------------------------------------
*/
input[type=checkbox],
input[type=radio] {
  vertical-align: baseline;
}

input[type=checkbox] {
  border: 0.1rem solid gray;
  background-color: white;
}

/*
** Use the sassy-buttons gem to generate matte rounded-rectangle buttons with
** gradients and hover styles, in the following colors:
**    main buttons: orange,
**    disabled buttons: grey,
**    buttons for destructive actions: red
**
** See
**    http://jaredhardy.com/sassy-buttons/ and
**    https://github.com/jhardy/Sassy-Buttons
** for more details.
*/
input[type=submit],
input[type=button],
button {
  font-size: 1.4rem;
  padding: 0.0rem 2rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.5;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  border-radius: 0.6rem;
  background-color: #f07c00;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa23d), color-stop(70%, #f07c00));
  background: -webkit-linear-gradient(#ffa23d, #f07c00 70%);
  background: -moz-linear-gradient(#ffa23d, #f07c00 70%);
  background: -o-linear-gradient(#ffa23d, #f07c00 70%);
  background: -ms-linear-gradient(#ffa23d, #f07c00 70%);
  background: linear-gradient(#ffa23d, #f07c00 70%);
  -webkit-box-shadow: #ffc68a 0 1px 0 inset;
  -moz-box-shadow: #ffc68a 0 1px 0 inset;
  box-shadow: #ffc68a 0 1px 0 inset;
  border: 1px solid #d66f00;
  color: white;
  line-height: 2rem;
  font-family: Calibri, "Myriad Pro", Tahoma, sans-serif;
  font-weight: bold;
}
input[type=submit]:hover,
input[type=button]:hover,
button:hover {
  background-color: #d66f00;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #ff9524), color-stop(75%, #d66f00));
  background: -webkit-linear-gradient(#ff9524 3%, #d66f00 75%);
  background: -moz-linear-gradient(#ff9524 3%, #d66f00 75%);
  background: -o-linear-gradient(#ff9524 3%, #d66f00 75%);
  background: -ms-linear-gradient(#ff9524 3%, #d66f00 75%);
  background: linear-gradient(#ff9524 3%, #d66f00 75%);
}
input[type=submit]:active,
input[type=button]:active,
button:active {
  -webkit-box-shadow: #c76700 0 1px 2px inset;
  -moz-box-shadow: #c76700 0 1px 2px inset;
  box-shadow: #c76700 0 1px 2px inset;
}
input[type=submit].destructive,
input[type=button].destructive,
button.destructive {
  font-size: 1.4rem;
  padding: 0.0rem 2rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.5;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  border-radius: 0.6rem;
  background-color: #e53b19;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed755d), color-stop(70%, #e53b19));
  background: -webkit-linear-gradient(#ed755d, #e53b19 70%);
  background: -moz-linear-gradient(#ed755d, #e53b19 70%);
  background: -o-linear-gradient(#ed755d, #e53b19 70%);
  background: -ms-linear-gradient(#ed755d, #e53b19 70%);
  background: linear-gradient(#ed755d, #e53b19 70%);
  -webkit-box-shadow: #f5b0a2 0 1px 0 inset;
  -moz-box-shadow: #f5b0a2 0 1px 0 inset;
  box-shadow: #f5b0a2 0 1px 0 inset;
  border: 1px solid #ce3516;
  color: white;
  line-height: 2rem;
}
input[type=submit].destructive:hover,
input[type=button].destructive:hover,
button.destructive:hover {
  background-color: #ce3516;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #eb6246), color-stop(75%, #ce3516));
  background: -webkit-linear-gradient(#eb6246 3%, #ce3516 75%);
  background: -moz-linear-gradient(#eb6246 3%, #ce3516 75%);
  background: -o-linear-gradient(#eb6246 3%, #ce3516 75%);
  background: -ms-linear-gradient(#eb6246 3%, #ce3516 75%);
  background: linear-gradient(#eb6246 3%, #ce3516 75%);
}
input[type=submit].destructive:active,
input[type=button].destructive:active,
button.destructive:active {
  -webkit-box-shadow: #c03215 0 1px 2px inset;
  -moz-box-shadow: #c03215 0 1px 2px inset;
  box-shadow: #c03215 0 1px 2px inset;
}
input[type=submit][disabled],
input[type=button][disabled],
button[disabled] {
  font-size: 1.4rem;
  padding: 0.0rem 2rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.5;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  border-radius: 0.6rem;
  background-color: #c8c8c8;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(70%, #c8c8c8));
  background: -webkit-linear-gradient(#eeeeee, #c8c8c8 70%);
  background: -moz-linear-gradient(#eeeeee, #c8c8c8 70%);
  background: -o-linear-gradient(#eeeeee, #c8c8c8 70%);
  background: -ms-linear-gradient(#eeeeee, #c8c8c8 70%);
  background: linear-gradient(#eeeeee, #c8c8c8 70%);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #bbbbbb;
  color: #8d8d8d;
  line-height: 2rem;
  cursor: default !important;
}
input[type=submit][disabled]:hover,
input[type=button][disabled]:hover,
button[disabled]:hover {
  background-color: #bbbbbb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #e1e1e1), color-stop(75%, #bbbbbb));
  background: -webkit-linear-gradient(#e1e1e1 3%, #bbbbbb 75%);
  background: -moz-linear-gradient(#e1e1e1 3%, #bbbbbb 75%);
  background: -o-linear-gradient(#e1e1e1 3%, #bbbbbb 75%);
  background: -ms-linear-gradient(#e1e1e1 3%, #bbbbbb 75%);
  background: linear-gradient(#e1e1e1 3%, #bbbbbb 75%);
}
input[type=submit][disabled]:active,
input[type=button][disabled]:active,
button[disabled]:active {
  -webkit-box-shadow: #b3b3b3 0 1px 2px inset;
  -moz-box-shadow: #b3b3b3 0 1px 2px inset;
  box-shadow: #b3b3b3 0 1px 2px inset;
}

.button-bar {
  margin: 2.2rem 0;
  padding: 0;
}

.button-bar input[type=submit],
.button-bar input[type=button],
.button-bar button,
.button-bar > a {
  float: left;
  margin: 0;
  margin-right: 1rem;
}

.button-bar > a {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

/*----------[ form layout ]-----------------------------------------------------
*/
table.form {
  margin-top: 0;
}
table.form, table.form th, table.form td {
  border-style: none;
}
table.form .section-heading th {
  color: #207861;
}
table.form .field-label {
  padding-right: 2rem;
  vertical-align: top;
  text-align: right;
  font-weight: normal;
}
table.form .field, table.form .button-bar {
  padding-left: 0;
}

.stacked label,
.radio-group label,
.checkbox-group label {
  display: block;
}

.stacked .section-heading {
  font-weight: bold;
  color: #207861;
}
.stacked .field > label:first-of-type {
  margin-top: 1.1rem;
}
.stacked .field, .stacked .section-heading, .stacked .button-bar {
  padding-left: 0.5rem;
}

/*----------[ validation ]------------------------------------------------------
*/
.error, .error td, .error th {
  background-color: #fcebe7;
}
.error label, .error .form-help {
  color: #b72f14;
}
.error label {
  font-weight: bold;
}
.error input[type=email],
.error input[type=password],
.error input[type=search],
.error input[type=tel],
.error input[type=text],
.error input[type=url],
.error select,
.error textarea {
  border-color: #a02911;
}
.error ul.error-explanation {
  margin: 0;
  margin-left: 2rem;
  font-size: 1.4rem;
  color: #b72f14;
}

/*----------[ datepicker ]------------------------------------------------------
*/
input.date,
img.ui-datepicker-trigger {
  vertical-align: middle;
}

.ui-datepicker {
  font-size: 1.4rem !important;
}

/*-----[ header ]---------------------------------------------------------------
| Common page header styles.
*/
/*-----[ footer ]---------------------------------------------------------------
| Common page footer styles.
*/
/*-----[ documentation ]--------------------------------------------------------
| Styles for the documentation pages. See _feature-1.scss for more details on
| how feature-specific styles should be organized.
*/
.documentation #page {
  padding: 2.2rem 2rem;
}
.documentation #page header {
  margin-bottom: 2.2rem;
}
.documentation #page p:last-of-type,
.documentation #page dl:last-of-type,
.documentation #page ol:last-of-type,
.documentation #page ul:last-of-type {
  margin-bottom: 0;
}
.documentation #page #about, .documentation #page #resources {
  margin-bottom: 4.4rem;
}
.documentation #page footer {
  color: gray;
  font-style: italic;
}

@media (min-width: 480px) {
  .documentation #page {
    max-width: 60rem;
  }
}
@media (min-width: 768px) {
  .documentation #page {
    margin: 5rem auto;
    border: 0.2rem solid silver;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    border-radius: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .documentation #page {
    max-width: 90rem;
  }
  .documentation #about, .documentation #resources {
    float: left;
    margin-bottom: 0;
  }
  .documentation #about {
    margin-right: 3%;
    width: 67%;
  }
  .documentation #resources {
    width: 30%;
  }
  .documentation footer {
    clear: both;
  }
}
/*-----[ login ]----------------------------------------------------------------
| Styles for the login page. See _feature-1.scss for more details on how 
| feature-specific styles should be organized.
*/
#login #page {
  padding: 2.2rem 2rem;
}
#login #page p:last-of-type,
#login #page dl:last-of-type,
#login #page ol:last-of-type,
#login #page ul:last-of-type {
  margin-bottom: 0;
}
#login #page form {
  margin-bottom: 4.4rem;
}
#login #page input[type=email],
#login #page input[type=password] {
  width: 23rem;
}
#login #page footer {
  color: gray;
  font-style: italic;
}

@media (min-width: 480px) {
  #login #page {
    max-width: 25rem;
  }
}
@media (min-width: 768px) {
  #login #page {
    margin: 5rem auto;
    border: 0.2rem solid silver;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    border-radius: 1.5rem;
  }
}
/*-----[ style guide ]----------------------------------------------------------
*/
#style-guide #page {
  padding: 2.2rem 2rem;
}
#style-guide #examples > section {
  margin-top: 4.4rem;
}
#style-guide #examples > section > h1 {
  margin-bottom: 1.35rem;
  border-bottom: 0.1rem solid #d6d6d6;
  padding-bottom: 0.55rem;
  color: #e67700;
}
#style-guide #examples .explanation h2 {
  margin: 0;
  color: #cca300;
}
#style-guide #examples .explanation p {
  margin-top: 0;
}
#style-guide #examples .columns h2 {
  margin-top: 1.1rem;
}
#style-guide .colors table {
  margin-top: 0;
}
#style-guide .colors .swatch {
  padding: 0;
  width: 4rem;
}
#style-guide .colors .swatch.blackberry {
  background-color: #4a1a2b;
}
#style-guide .colors .swatch.eucalyptus {
  background-color: #207861;
}
#style-guide .colors .swatch.citrus {
  background-color: #9fad00;
}
#style-guide .colors .swatch.supernova {
  background-color: #ffcc00;
}
#style-guide .colors .swatch.flush-orange {
  background-color: #ff8400;
}
#style-guide .colors .swatch.matisse {
  background-color: #1673a1;
}
#style-guide .colors .swatch.cinnabar {
  background-color: #e53b19;
}
#style-guide .colors .swatch.charcoal {
  background-color: #444444;
}
#style-guide .colors .swatch.grey {
  background-color: gray;
}
#style-guide .colors .swatch.silver {
  background-color: silver;
}
#style-guide .colors .swatch.white-smoke {
  background-color: #f0f0f0;
}
#style-guide .colors .hex-code {
  padding-left: 1rem;
}
#style-guide .tables .quantity, #style-guide .tables .price {
  text-align: right;
}
#style-guide .tables table {
  margin-top: 0;
}
#style-guide .tables tr.total {
  font-weight: bold;
}
#style-guide .forms input[type=email],
#style-guide .forms input[type=password],
#style-guide .forms input[type=search],
#style-guide .forms input[type=tel],
#style-guide .forms input[type=text],
#style-guide .forms input[type=url],
#style-guide .forms select {
  width: 20rem;
}
#style-guide .forms input[type=email].large,
#style-guide .forms input[type=password].large,
#style-guide .forms input[type=search].large,
#style-guide .forms input[type=tel].large,
#style-guide .forms input[type=text].large,
#style-guide .forms input[type=url].large,
#style-guide .forms select.large {
  width: 25rem;
}
#style-guide footer {
  margin-top: 2.2rem;
  font-style: italic;
  color: gray;
}

@media (min-width: 480px) {
  #style-guide #intro, #style-guide .explanation, #style-guide .example {
    max-width: 60rem;
  }
}
@media (min-width: 768px) {
  #style-guide #examples .columns .column {
    float: left;
    margin-right: 2%;
    width: 32%;
  }
  #style-guide #examples .columns .column:last-of-type {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  #style-guide #examples .explanation, #style-guide #examples .example {
    float: left;
    margin-bottom: 2.2rem;
  }
  #style-guide #examples .explanation {
    clear: left;
    margin-right: 3%;
    width: 32%;
  }
  #style-guide #examples .example {
    width: 65%;
    max-width: 65rem;
  }
}
@media (min-width: 1200px) {
  #style-guide #page {
    max-width: 120rem;
  }
}
/*-----[ feature 1 ]------------------------------------------------------------
| Styles for an individual feature, page or section of the application/site.
| Create a new stylesheet per feature or section. If the feature-specific styles
| are too many to practically be in one file, create a new directory containing
| styles for that feature:
|
|   _feature-1.scss
|   feature-2/
|     _sub-feature-1.scss
|     _sub-feature-2.scss
|   _feature-3.scss
*/
