/*------------------------------------------------------------------------------
| application.css
| application name v1.0
| Author(s): Author Name
| Created: yyyy-mm-dd
|
| This file rolls up the main styles for the entire application. You'll need to
| include the IE-specific and print stylesheet separately in your markup.
------------------------------------------------------------------------------*/
/*-----[ reset ]----------------------------------------------------------------
| Based on:
|   html5doctor.com Reset Stylesheet
|   v1.6 2010-08-18 | Authors: Eric Meyer & Richard Clark
|   <http://html5doctor.com/html-5-reset-stylesheet/>
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted inherit;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-style: none;
}

th, td, tr {
  border-style: none;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*-----[ colors ]---------------------------------------------------------------
| Variables defining the colors to be used throughout the application. Curious
| about the color names? Check out <www.colblindor.com/color-name-hue/> and 
| <http://chir.ag/projects/name-that-color/>.
*/
/*----------[ palette ]---------------------------------------------------------
*/
/* purple */
/* teal */
/* green */
/* yellow */
/* orange */
/* blue */
/* red */
/*----------[ backgrounds and borders ]-----------------------------------------
*/
/*----------[ text ]------------------------------------------------------------
*/
/*----------[ forms ]-----------------------------------------------------------
*/
/*-----[ typography ]-----------------------------------------------------------
*/
/*-----[ grid ]-----------------------------------------------------------------
| Style specifying the dimensions of the basic page grid and other common
| measures.
*/
/*-----[ foundation ]-----------------------------------------------------------
| Reusable content styles. Define your application-wide styles, like links,
| headers, body text, clearfix, etc. here
*/
/*----------[ tags ]------------------------------------------------------------
*/
html {
  font-size: 62.5%;
}

a {
  color: #1673a1;
}

a:link:visited {
  color: #4a1a2b;
}

a:hover,
a:active {
  color: #105374;
}

blockquote, dl, ol, p, pre, table, ul {
  margin: 2.2rem 0;
}

blockquote {
  margin-left: 2rem;
  color: gray;
}

body {
  background-color: white;
  color: #444444;
  font-family: Calibri, "Myriad Pro", Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-rendering: optimizeLegibility;
}

caption {
  font-style: italic;
}

dt {
  font-style: italic;
}

dd {
  margin: 0 0 2.2rem;
}

h1 {
  margin-bottom: 2.0rem;
  padding: 0;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

h2 {
  margin: 3.3rem 0 1.1rem;
  color: #207861;
  font-size: 1.8rem;
}

h3 {
  margin: 2.2rem 0 0;
  font-weight: normal;
  font-style: italic;
}

h1 + blockquote, h1 + dl, h1 + ol, h1 + ul, h1 + p, h2 + blockquote, h2 + dl, h2 + ol, h2 + ul, h2 + p, h3 + blockquote, h3 + dl, h3 + ol, h3 + ul, h3 + p {
  margin-top: 0;
}

hr {
  margin: 1rem auto 1.1rem;
  border-style: none;
  height: 1px;
  background-color: #808080;
}

ol, ul {
  margin-left: 2rem;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

dl dl, ol ol, ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

ol ol ol {
  list-style-type: lower-roman;
}

pre {
  padding: 1.1rem 1rem;
  overflow: auto;
  background-color: #fff8f0;
}

table {
  width: 100%;
}

table, thead th {
  border-bottom: 0.2rem solid #d6d6d6;
}

td, th {
  padding: 0.55rem 0;
  padding-right: 2rem;
}
td:first-of-type, th:first-of-type {
  padding-left: 0.5rem;
}
td:last-of-type, th:last-of-type {
  padding-right: 0.5rem;
}

th {
  text-align: left;
}

body th, td {
  border-bottom: 0.1rem solid #d6d6d6;
}

ul {
  list-style-type: disc;
}

/*----------[ general ]---------------------------------------------------------
*/
.align-center {
  margin: 0px auto;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.annotation,
.fine-print,
.form-help {
  color: gray;
  font-weight: normal;
  font-style: italic;
}

.fine-print, .form-help {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

/* Clearfix style from <http://nicolasgallagher.com/micro-clearfix-hack/> */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

span.keep-together {
  white-space: nowrap;
}

.reset {
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 1px;
  font-size: 0px;
}

.spacer {
  padding: 0px;
  height: 1.1rem;
  font-size: 0px;
}

.subtitle {
  font-weight: normal;
}

.subheading {
  font-weight: bold;
}

/*----------[ unsupported browser warning ]-------------------------------------
*/
#unsupported-browser-warning {
  display: none;
  margin: 2.2rem auto;
  border: 0.5rem solid #a02911;
  padding: 2.2rem 2rem;
  background-color: white;
}
.unsupported-browser #unsupported-browser-warning {
  display: block;
}
#unsupported-browser-warning h1 {
  color: #b72f14;
}
#unsupported-browser-warning a.dismiss {
  float: right;
  line-height: 2.4rem;
}
#unsupported-browser-warning p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  #unsupported-browser-warning {
    max-width: 65rem;
  }
}
/*----------[ alerts ]----------------------------------------------------------
*/
.alerts {
  margin: 0;
  list-style-type: none;
}
.alerts .message {
  margin-bottom: 0.55rem;
  padding: 0.55rem 1rem;
}
.alerts .message.success {
  background-color: #f3f8be;
  color: #919e00;
}
.alerts .message.warning {
  background-color: #fff3c2;
  color: #cca300;
}
.alerts .message.error {
  background-color: #fcebe7;
  color: #b72f14;
}

/*----------[ pagination ]------------------------------------------------------
*/
.pagination {
  white-space-collapse: discard;
}
.pagination .first, .pagination .prev, .pagination .page, .pagination .next, .pagination .last {
  display: inline-block;
  margin-right: 1rem;
  -moz-border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -khtml-border-radius: 0.6rem;
  border-radius: 0.6rem;
  background-color: #e8e8e8;
}
.pagination .first a, .pagination .prev a, .pagination .page a, .pagination .next a, .pagination .last a {
  display: block;
  text-decoration: none;
}
.pagination .first a, .pagination .first.current, .pagination .first.gap, .pagination .prev a, .pagination .prev.current, .pagination .prev.gap, .pagination .page a, .pagination .page.current, .pagination .page.gap, .pagination .next a, .pagination .next.current, .pagination .next.gap, .pagination .last a, .pagination .last.current, .pagination .last.gap {
  padding: 0 1rem;
  background-color: transparent;
}

/*-----[ forms ]----------------------------------------------------------------
| Global form and form element styles. Feature-specific form styles should be
| co-located with other feature-specific styles.
*/
/*-----[ text and password fields, textareas ]----------------------------------
*/
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
  margin: 0;
  border: 0.1rem solid black;
  padding: 0.3rem;
  background-color: white;
  font-family: Calibri, "Myriad Pro", Tahoma, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

input[type=email][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type=text][disabled],
input[type=url][disabled],
select[disabled],
textarea[disabled] {
  border-color: silver !important;
  color: silver !important;
  cursor: default !important;
}

input[type=text].small {
  width: 5rem;
  margin-right: 0.33em;
}

/*-----[ buttons and checkboxes]------------------------------------------------
*/
input[type=checkbox],
input[type=radio] {
  vertical-align: baseline;
}

input[type=checkbox] {
  border: 0.1rem solid gray;
  background-color: white;
}

input[type=submit],
input[type=button],
button {
  border: 0.1rem solid #e07400;
  border-top-color: #ff8400;
  -moz-border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -khtml-border-radius: 0.6rem;
  border-radius: 0.6rem;
  -moz-box-shadow: 0 0 0.1rem #d16c00;
  -webkit-box-shadow: 0 0 0.1rem #d16c00;
  -o-box-shadow: 0 0 0.1rem #d16c00;
  box-shadow: 0 0 0.1rem #d16c00;
  padding: 0.2rem 2rem;
  background: #f07c00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8400), color-stop(100%, #e07400));
  background-image: -webkit-linear-gradient(#ff8400, #e07400);
  background-image: -moz-linear-gradient(#ff8400, #e07400);
  background-image: -o-linear-gradient(#ff8400, #e07400);
  background-image: -ms-linear-gradient(#ff8400, #e07400);
  background-image: linear-gradient(#ff8400, #e07400);
  color: white;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}
input[type=submit].destructive,
input[type=button].destructive,
button.destructive {
  border-color: #c93416;
  border-top-color: #e53b19;
  -moz-box-shadow: 0 0 0.1rem #bc3014;
  -webkit-box-shadow: 0 0 0.1rem #bc3014;
  -o-box-shadow: 0 0 0.1rem #bc3014;
  box-shadow: 0 0 0.1rem #bc3014;
  padding: 0.2rem 2rem;
  background: #d73717;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e53b19), color-stop(100%, #c93416));
  background-image: -webkit-linear-gradient(#e53b19, #c93416);
  background-image: -moz-linear-gradient(#e53b19, #c93416);
  background-image: -o-linear-gradient(#e53b19, #c93416);
  background-image: -ms-linear-gradient(#e53b19, #c93416);
  background-image: linear-gradient(#e53b19, #c93416);
  color: white;
}
input[type=submit][disabled],
input[type=button][disabled],
button[disabled] {
  border: 0.1rem solid #c8c8c8;
  border-top-color: #d7d7d7;
  -moz-box-shadow: 0 0 0.1rem #b8b8b8;
  -webkit-box-shadow: 0 0 0.1rem #b8b8b8;
  -o-box-shadow: 0 0 0.1rem #b8b8b8;
  box-shadow: 0 0 0.1rem #b8b8b8;
  background: #c8c8c8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfcfcf), color-stop(100%, #c0c0c0));
  background-image: -webkit-linear-gradient(#cfcfcf, #c0c0c0);
  background-image: -moz-linear-gradient(#cfcfcf, #c0c0c0);
  background-image: -o-linear-gradient(#cfcfcf, #c0c0c0);
  background-image: -ms-linear-gradient(#cfcfcf, #c0c0c0);
  background-image: linear-gradient(#cfcfcf, #c0c0c0);
  color: #8d8d8d;
  cursor: default !important;
}

.button-bar {
  margin: 2.2rem 0;
  padding: 0;
}

.button-bar > a {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.button-bar input[type=submit],
.button-bar input[type=button],
.button-bar button,
.button-bar > a {
  float: left;
  margin: 0;
  margin-right: 1rem;
}

/*----------[ form layout ]-----------------------------------------------------
*/
table.form {
  margin-top: 0;
}
table.form, table.form th, table.form td {
  border-style: none;
}
table.form .section-heading th {
  color: #207861;
}
table.form .field-label {
  padding-right: 2rem;
  vertical-align: top;
  text-align: right;
  font-weight: normal;
}
table.form .field, table.form .button-bar {
  padding-left: 0;
}

.stacked label,
.radio-group label,
.checkbox-group label {
  display: block;
}

.stacked .section-heading {
  font-weight: bold;
  color: #207861;
}
.stacked .field > label:first-of-type {
  margin-top: 1.1rem;
}
.stacked .field, .stacked .section-heading, .stacked .button-bar {
  padding-left: 0.5rem;
}

/*----------[ validation ]------------------------------------------------------
*/
.error, .error td, .error th {
  background-color: #fcebe7;
}
.error label, .error .form-help {
  color: #b72f14;
}
.error label {
  font-weight: bold;
}
.error input[type=email],
.error input[type=password],
.error input[type=search],
.error input[type=tel],
.error input[type=text],
.error input[type=url],
.error select,
.error textarea {
  border-color: #a02911;
}
.error ul.error-explanation {
  margin: 0;
  margin-left: 2rem;
  font-size: 1.4rem;
  color: #b72f14;
}

/*----------[ datepicker ]------------------------------------------------------
*/
input.date,
img.ui-datepicker-trigger {
  vertical-align: middle;
}

.ui-datepicker {
  font-size: 1.4rem !important;
}

/*-----[ header ]---------------------------------------------------------------
| Common page header styles.
*/
/*-----[ footer ]---------------------------------------------------------------
| Common page footer styles.
*/
/*-----[ home ]-----------------------------------------------------------------
| Styles for the home page. See _feature-1.scss for more details on how feature-
| specific styles should be organized.
*/
#home #main {
  padding: 2.2rem 2rem;
}
#home #main p:last-of-type,
#home #main dl:last-of-type,
#home #main ol:last-of-type,
#home #main ul:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  #home #main {
    margin: 5rem auto;
    border: 0.2rem solid silver;
    -moz-border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -khtml-border-radius: 1.5rem;
    border-radius: 1.5rem;
    max-width: 65rem;
  }
}
/*-----[ style guide ]----------------------------------------------------------
*/
#style-guide #page {
  padding: 2.2rem 2rem;
}
#style-guide #examples > section {
  margin-top: 4.4rem;
}
#style-guide #examples > section > h1 {
  margin-bottom: 1.35rem;
  border-bottom: 0.1rem solid #d6d6d6;
  padding-bottom: 0.55rem;
  color: #e67700;
}
#style-guide #examples .explanation h2 {
  margin: 0;
  color: #cca300;
}
#style-guide #examples .explanation p {
  margin-top: 0;
}
#style-guide #examples .columns h2 {
  margin-top: 1.1rem;
}
#style-guide .colors table {
  margin-top: 0;
}
#style-guide .colors .swatch {
  padding: 0;
  width: 4rem;
}
#style-guide .colors .swatch.blackberry {
  background-color: #4a1a2b;
}
#style-guide .colors .swatch.eucalyptus {
  background-color: #207861;
}
#style-guide .colors .swatch.citrus {
  background-color: #9fad00;
}
#style-guide .colors .swatch.supernova {
  background-color: #ffcc00;
}
#style-guide .colors .swatch.flush-orange {
  background-color: #ff8400;
}
#style-guide .colors .swatch.matisse {
  background-color: #1673a1;
}
#style-guide .colors .swatch.cinnabar {
  background-color: #e53b19;
}
#style-guide .colors .swatch.charcoal {
  background-color: #444444;
}
#style-guide .colors .swatch.grey {
  background-color: gray;
}
#style-guide .colors .swatch.silver {
  background-color: silver;
}
#style-guide .colors .swatch.white-smoke {
  background-color: #f0f0f0;
}
#style-guide .colors .hex-code {
  padding-left: 1rem;
}
#style-guide .tables .quantity, #style-guide .tables .price {
  text-align: right;
}
#style-guide .tables table {
  margin-top: 0;
}
#style-guide .tables tr.total {
  font-weight: bold;
}
#style-guide .forms input[type=email],
#style-guide .forms input[type=password],
#style-guide .forms input[type=search],
#style-guide .forms input[type=tel],
#style-guide .forms input[type=text],
#style-guide .forms input[type=url],
#style-guide .forms select {
  width: 20rem;
}
#style-guide .forms input[type=email].large,
#style-guide .forms input[type=password].large,
#style-guide .forms input[type=search].large,
#style-guide .forms input[type=tel].large,
#style-guide .forms input[type=text].large,
#style-guide .forms input[type=url].large,
#style-guide .forms select.large {
  width: 25rem;
}
#style-guide footer {
  margin-top: 2.2rem;
  font-style: italic;
  color: gray;
}

@media (min-width: 480px) {
  #intro, .explanation, .example {
    max-width: 60rem;
  }
}
@media (min-width: 768px) {
  #examples .columns .column {
    float: left;
    margin-right: 2%;
    width: 32%;
  }
  #examples .columns .column:last-of-type {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  #style-guide #examples .explanation, #style-guide #examples .example {
    float: left;
    margin-bottom: 2.2rem;
  }
  #style-guide #examples .explanation {
    clear: left;
    margin-right: 3%;
    width: 32%;
  }
  #style-guide #examples .example {
    width: 65%;
    max-width: 65rem;
  }
}
@media (min-width: 1200px) {
  #style-guide #page {
    max-width: 120rem;
  }
}
/*-----[ feature 1 ]------------------------------------------------------------
| Styles for an individual feature, page or section of the application/site.
| Create a new stylesheet per feature or section. If the feature-specific styles
| are too many to practically be in one file, create a new directory containing
| styles for that feature:
|
|   _feature-1.css.scss
|   feature-2/
|     _sub-feature-1.css.scss
|     _sub-feature-2.css.scss
|   _feature-3.css.scss
*/
