/*-----[ colors ]---------------------------------------------------------------
| Variables defining the colors to be used throughout the application.
*/

/*----------[ table of contents ]-----------------------------------------------
| palette
| backgrounds and borders
| text
| forms
*/


/*----------[ palette ]---------------------------------------------------------
| Use color names you can easily remember here, like "light-blue". Doing this
| makes it easier for you to tweak the exact shade of "light-blue" you're using
| transparently.
*/
// Main palette
$eggplant-purple : #4a1a2b;
$teal            : #207861;
$leaf-green      : #9fad00;
$bright-yellow   : #ffcc00;
$orange          : #ff8400;
$blue            : #1673a1;
$red             : #e53b19;

// Greys
$charcoal        : #444444;
$grey            : #808080;
$silver          : #c0c0c0;
$greyish-white   : #f0f0f0;

/*----------[ backgrounds and borders ]-----------------------------------------
| From this point on, we create semantic variables and assign our color values
| to them. Then in the rest of our styles, we refer to these semantic color
| values like so:
|
|   body
|   {
|      background-color: $page-bg;
|      color: $body-text-color;
|   }
|
| By adding this extra layer of abstraction, we can swap out our
| page background or link color—or change the palette entirely—in just one
| place without a lot of tedious search-and-replace.
*/
$page-bg         : white;
$accent-bg       : $greyish-white;

$stroke          : black;
$light-stroke    : darken($greyish-white, 10);
$disabled-stroke : $silver;

/*----------[ text ]------------------------------------------------------------
*/
$body-text-color        : $charcoal;
$secondary-text-color   : $grey;
$disabled-text-color    : $silver;

$link                   : $blue;
$visited-link           : $eggplant-purple;

$highlighted-text-color : white;
$subheading-text-color  : $teal;

$error-feedback         : darken($red, 10);
$warning-feedback       : darken($bright-yellow, 10);
$success-feedback       : darken($leaf-green, 3);

/*----------[ forms ]-----------------------------------------------------------
*/
$button-base-bg                : darken($orange, 3);
$button-text-color             : white;

$destructive-button-base-bg    : $red;
$destructive-button-text-color : white;

$disabled-button-base-bg       : lighten($silver, 3);
$disabled-button-text-color    : lighten($grey, 5);


