/*-----[ colors ]---------------------------------------------------------------
| Variables defining the colors to be used throughout the application. Curious
| about the color names? Check out <www.colblindor.com/color-name-hue/> and 
| <http://chir.ag/projects/name-that-color/>.
*/
/*----------[ palette ]---------------------------------------------------------
*/
// Main palette
$blackberry   : #4a1a2b;  /* purple */
$eucalyptus   : #207861;  /* teal */
$citrus       : #9fad00;  /* green */
$supernova    : #ffcc00;  /* yellow */
$flush-orange : #ff8400;  /* orange */
$matisse      : #1673a1;  /* blue */
$cinnabar     : #e53b19;  /* red */

// Greys
$charcoal    : #444444;
$grey        : #808080;
$silver      : #c0c0c0;
$white-smoke : #f0f0f0;

/*----------[ backgrounds and borders ]-----------------------------------------
*/
$page-bg   : white;
$accent-bg : $white-smoke;

$stroke          : black;
$light-stroke    : darken($white-smoke, 10);
$disabled-stroke : $silver;

/*----------[ text ]------------------------------------------------------------
*/
$body-text      : $charcoal;
$secondary-text : $grey;
$disabled-text  : $silver;

$link         : $matisse;
$visited-link : $blackberry;

$highlighted-text : white;
$subheading-text  : $eucalyptus;

$error-feedback   : darken($cinnabar, 10);
$warning-feedback   : darken($supernova, 10);
$success-feedback : darken($citrus, 3);

/*----------[ forms ]-----------------------------------------------------------
*/
$button-shadow         : darken($flush-orange, 9);
$button-border         : darken($flush-orange, 6);
$button-gradient-light : $flush-orange;
$button-gradient-mid   : darken($flush-orange, 3);
$button-gradient-dark  : darken($flush-orange, 6);
$button-text-color     : white;

$destructive-button-shadow         : darken($cinnabar, 9);
$destructive-button-border         : darken($cinnabar, 6);
$destructive-button-gradient-light : $cinnabar;
$destructive-button-gradient-mid   : darken($cinnabar, 3);
$destructive-button-gradient-dark  : darken($cinnabar, 6);
$destructive-button-text-color     : white;

$disabled-button-shadow         : darken($silver, 3);
$disabled-button-border         : lighten($silver, 3);
$disabled-button-gradient-light : lighten($silver, 6);
$disabled-button-gradient-mid   : lighten($silver, 3);
$disabled-button-gradient-dark  : $silver;
$disabled-button-text-color     : lighten($grey, 5);


