/*-----[ dimensions ]-----------------------------------------------------------
*/
$column-width-fallback: 18px;
$column-width: 1.8rem;
$horizontal-nudge-fallback: 6px;
$horizontal-nudge: 0.6rem;
$gutter-width-fallback: 30px;
$gutter-width: 3rem;
$content-border-width-fallback: 3px;
$content-border-width: 0.3rem;

$vertical-nudge-fallback: $body-text-line-height-fallback / 4;
$vertical-nudge: $body-text-line-height / 4;
