/*-----[ dimensions ]-----------------------------------------------------------
*/
$column-width: 18px;
$horizontal-nudge: 6px;
$gutter-width: 30px;
$content-border-width: 3px;

$vertical-nudge: $body-text-line-height / 4;
