/*-----[ typography ]-----------------------------------------------------------
*/
$body-text: Calibri, "Myriad Pro", Tahoma, sans-serif;
$body-text-size: 16px;
$body-text-line-height: 20px;

$monospace-text: Consolas, Monaco, "Lucida Console", monospace;
$monospace-text-size: $body-text-size;

$secondary-text-size: 14px;

$page-heading-text-size: 24px;
