/*-----[ forms ]----------------------------------------------------------------
| Global form and form element styles. Feature-specific form styles should be
| co-located with other feature-specific styles.
*/

/*----------[ table of contents ]-----------------------------------------------
| text and password fields, textareas
| buttons and checkboxes
| form layout
| validation
| datepicker
*/

/*----------[ text and password fields, textareas ]-----------------------------
*/
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea
{
  margin: 0;
  border: 1px solid $stroke;
  padding: ($body-text-line-height - $secondary-text-size - 0.2) / 2;
  background-color: white;
  font-family:  $body-text-family;
  font-size: $secondary-text-size;
  line-height: 1;
}

input[type=email][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type=text][disabled],
input[type=url][disabled],
select[disabled],
textarea[disabled]
{
  border-color: $disabled-stroke !important;
  color: $disabled-text-color !important;
  cursor: default !important;
}

input[type=text].small
{
  width: 50px;
  margin-right: 0.33em;
}

/*----------[ buttons and checkboxes]-------------------------------------------
*/
input[type=checkbox],
input[type=radio]
{
  vertical-align: baseline;
}

input[type=checkbox]
{
  border: 1px solid $grey;
  background-color: white;
}

/*
** Use the sassy-buttons gem to generate matte rounded-rectangle buttons with
** gradients and hover styles, in the following colors:
**    main buttons: orange,
**    disabled buttons: grey,
**    buttons for destructive actions: red
**
** See
**    http://jaredhardy.com/sassy-buttons/ and
**    https://github.com/jhardy/Sassy-Buttons
** for more details.
*/
input[type=submit],
input[type=button],
button,
a.button
{
  @include sassy-button();

  font-family:  $button-text-family;
  font-weight: bold;

  &.destructive
  {
    @include sassy-button($first-color : $destructive-button-base-bg,
                          $text-color  : $destructive-button-text-color);
  }

  &[disabled]
  {
    @include sassy-button($first-color : $disabled-button-base-bg,
                          $text-color  : $disabled-button-text-color,
                          $auto-states : false);

    cursor: default !important;
  }
}

.button-bar
{
  margin: $body-text-line-height 0;
  padding: 0;
}

.button-bar input[type=submit],
.button-bar input[type=button],
.button-bar button,
.button-bar > a
{
  float: left;
  margin: 0;
  margin-right: $column-width / 2;
}

.button-bar > a
{
  display: inline-block;
  vertical-align: middle;
  font-size: $secondary-text-size;
  line-height: $secondary-text-line-height + 2 * ($button-vertical-padding + $button-border-width);
}

/*----------[ form layout ]-----------------------------------------------------
*/
/*---------------[ forms in tables ]--------------------------------------------
*/
table.form
{
  margin-top: 0;

  &, th, td
  {
    border-style: none;
  }

  .section-heading th
  {
    color: $subheading-text-color;
  }

  .field-label
  {
    padding-right: $column-width;
    vertical-align: top;
    text-align: right;
    font-weight: normal;
  }

  .field, .button-bar
  {
    padding-left: 0;
  }
}

.stacked,
.radio-group,
.checkbox-group
{
  label
  {
    display: block;
  }
}

/*---------------[ stacked forms ]----------------------------------------------
*/
.stacked
{
  margin-left: -$horizontal-nudge;

  .section-heading
  {
    font-weight: bold;
    color: $subheading-text-color;
  }

  .field > label:first-of-type
  {
    margin-top: $body-text-line-height / 2;
  }

  .field, .section-heading, .button-bar
  {
    padding-left: $horizontal-nudge;
  }
}

/*----------[ validation ]------------------------------------------------------
*/
.error
{
  &, td, th
  {
    background-color: lighten($error-feedback, 55);
  }

  label, .form-help
  {
    color: $error-feedback;
  }

  label
  {
    font-weight: bold;
  }

  input[type=email],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=url],
  select,
  textarea
  {
    border-color: darken($error-feedback, 5);
  }

  ul.error-explanation
  {
    margin: $vertical-nudge;
    margin-left: $column-width;
    @include secondary-text;
    color: $error-feedback;
  }
}

/*----------[ datepicker ]------------------------------------------------------
*/
input.date,
img.ui-datepicker-trigger
{
  vertical-align: middle;
}

.ui-datepicker
{
  font-size: $secondary-text-size !important;
}
