/*-----[ forms ]----------------------------------------------------------------
| Global form and form element styles. Feature-specific form styles should be
| co-located with other feature-specific styles.
*/
/*-----[ text and password fields, textareas ]----------------------------------
*/
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea
{
  margin: 0;
  border: 0.1rem solid $stroke;
  padding: ($body-text-line-height - $secondary-text-size - 0.2) / 2;
  background-color: white;
  font-family:  $body-text-family;
  font-size: $secondary-text-size;
  line-height: $secondary-text-size;
}

input[type=email][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type=text][disabled],
input[type=url][disabled],
select[disabled],
textarea[disabled]
{
  border-color: $disabled-stroke !important;
  color: $disabled-text !important;
  cursor: default !important;
}

input[type=text].small
{
  width: 5rem;
  margin-right: 0.33em;
}

/*-----[ buttons and checkboxes]------------------------------------------------
*/
$button-border-radius: 0.8rem;

input[type=checkbox],
input[type=radio]
{
  vertical-align: baseline;
}

input[type=checkbox]
{
  border: 0.1rem solid $grey;
  background-color: white;
}

input[type=submit],
input[type=button],
button
{
  border: 0.1rem solid $button-border;
  @include border-radius($button-border-radius);
  padding: 0.2rem $column-width;
  background: $button-gradient-mid;
  @include background-image(linear-gradient($button-gradient-light, $button-gradient-dark));
  color: $button-text-color;
  font-size: $secondary-text-size;
  font-weight: bold;
  cursor: pointer;
}

input[type=submit][disabled],
input[type=button][disabled],
button[disabled]
{
  border: 0.1rem solid $disabled-button-border;
  background: $disabled-button-gradient-mid;
  @include background-image(linear-gradient($disabled-button-gradient-light, $disabled-button-gradient-dark));
  color: $disabled-button-text-color;
  cursor: default !important;
}

.button-bar
{
  margin: $body-text-line-height 0;
  padding: 0;
}

.button-bar > a
{
  display: inline-block;
  vertical-align: middle;
  font-size: $secondary-text-size;
  line-height: $body-text-line-height;
}

.button-bar input[type=submit],
.button-bar input[type=button],
.button-bar button,
.button-bar > a
{
  float: left;
  margin: 0;
  margin-right: $column-width / 2;
}

/*----------[ datepicker ]------------------------------------------------------
*/
input.date,
img.ui-datepicker-trigger
{
  vertical-align: middle;
}

.ui-datepicker
{
  font-size: $secondary-text-size !important;
}
