/*-----[ foundation ]-----------------------------------------------------------
| Reusable content styles. Define your application-wide styles, like links,
| headers, body text, clearfix, etc. here. See the readme for information on
| recommended rule order.
*/

/*----------[ table of contents ]-----------------------------------------------
| tags
| non-semantic styles
*/


/*----------[ tags ]------------------------------------------------------------
*/
a
{
  color: $link;

  &:visited
  {
    color: $visited-link;
  }

  &:hover,
  &:active
  {
    color: darken($link, 10);
  }
}

blockquote, dl, ol, p, pre, table, ul
{
  margin: $body-text-line-height 0;
}

blockquote
{
  margin-left: $column-width;
  color: $secondary-text-color;
}

body
{
  background-color: $page-bg;
  color: $body-text-color;
  font-family: $body-text-family;
  @include body-text;

  /*
  ** Turn off automatic text resizing in MobileSafari for iPhone. This assumes
  ** that you've been mindful of readability and have already chosen the text
  ** size you feel is effective at those screen sizes. REMOVE IT if you want
  ** iPhone to automatically resize the text.
  */
  @media (max-width: 500px)
  {
    -webkit-text-size-adjust: 100%;
  }
}

caption
{
  font-style: italic;
}

dt
{
  font-style: italic;
}

dd
{
  margin: 0 0 $body-text-line-height;
}

h1
{
  margin-bottom: $body-text-line-height * 2 - $page-heading-text-line-height;
  padding: 0;
  @include heading-text;
}

h2
{
  margin: 1.5 * $body-text-line-height 0 $body-text-line-height / 2;
  color: $subheading-text-color;
  @include subheading-text;
}

h3
{
  margin: $body-text-line-height 0 0;
  font-weight: normal;
  font-style: italic;
}

// For large headings, use ligatures if available.
h1, h2, h3
{
  text-rendering: optimizeLegibility;
}

h1, h2, h3
{
  & + blockquote,
  & + dl,
  & + ol,
  & + ul,
  & + p
  {
    margin-top: 0;
  }
}

hr
{

  margin: ($body-text-line-height / 2 - 0.1) auto $body-text-line-height / 2;
  border-style: none;
  height: 1px;
  background-color: $stroke;
}

ol, ul
{
  margin-left: $column-width;
}

ol
{
  list-style-type: decimal;

  ol
  {
    list-style-type: lower-alpha;

    ol
    {
      list-style-type: lower-roman;
    }
  }
}

dl dl, ol ol, ul ul
{
  margin-top: 0;
  margin-bottom: 0;
}

pre
{

  padding: $body-text-line-height / 2 $column-width / 2;
  overflow: auto;
  background-color: $accent-bg;
}

sub, sup
{
  font-size: 80%;
  /*
  ** A non-zero line-height on a sub or sup element will alter the line-height
  ** of your paragraph text. To keep your vertical rhythm nice and smooth, set
  ** the line-height on your subs and sups to 0.
  */
  line-height: 0;
}

sub
{
  vertical-align: sub;
}

sup
{
  vertical-align: super;
}

table
{
  width: 100%;
}

table, thead th
{
  border-bottom: 2px solid $light-stroke;
}

td, th
{
  padding: $vertical-nudge 0;
  padding-right: $column-width;

  &:first-of-type
  {
    padding-left: $horizontal-nudge;
  }

  &:last-of-type
  {
    padding-right: $horizontal-nudge;
  }
}

th
{
  text-align: left;
}

tbody th, td
{
  border-bottom: 1px solid $light-stroke;
}

ul
{
  list-style-type: disc;
}

/*----------[ non-semantic styles ]---------------------------------------------
** Purely presentational styles with non-semantic names.
*/
.align-center
{
  margin: 0 auto;
}

.align-left
{
  float: left;
}

.align-right
{
  float: right;
}

/* Clearfix style from <http://nicolasgallagher.com/micro-clearfix-hack/> */
.group:before,
.group:after
{
  content: "";
  display: table;
}

.group:after
{
  clear: both;
}

span.keep-together
{
  white-space: nowrap;
}

.reset
{
  clear: both;
  margin: 0;
  padding: 0;
  height: 1px;
  font-size: 0;
}

.spacer
{
  padding: 0;
  height: $body-text-line-height / 2;
  font-size: 0;
}

