/*-----[ documentation ]--------------------------------------------------------
| Styles for the documentation pages. See _feature-1.scss for more details on
| how feature-specific styles should be organized.
*/
.documentation #page
{
  padding: $body-text-line-height $column-width;

  header
  {
    margin-bottom: $body-text-line-height;
  }

  p:last-of-type,
  dl:last-of-type,
  ol:last-of-type,
  ul:last-of-type,
  {
    margin-bottom: 0;
  }

  #about, #resources
  {
    margin-bottom: $section-spacing;
  }

  footer
  {
    color: $secondary-text-color;
    font-style: italic;
  }
}

/*
** We've elected to always put media queries inline, so that they're near
** the original style definition for easy locating later on.
*/
@media (min-width: 480px)
{
  .documentation #page
  {
    max-width: 600px;
  }
}

@media (min-width: 768px)
{
  .documentation #page
  {
    margin: 50px auto;
    border: 2px solid $silver;
    @include border-radius(15px);
  }
}

@media (min-width: 1024px)
{
  .documentation
  {
    #page
    {
      max-width: 900px;
    }

    #about, #resources
    {
      float: left;
      margin-bottom: 0;
    }

    #about
    {
      margin-right: 3%;
      width: 67%;
    }

    #resources
    {
      width: 30%;
    }

    footer
    {
      clear: both;
    }
  }
}

