/*-----[ home ]-----------------------------------------------------------------
| Styles for the home page. See _feature-1.scss for more details on how feature-
| specific styles should be organized.
*/
#home #main
{
  padding: $body-text-line-height $column-width;
}

@media (min-width: 768px)
{
  #home #main
  {
    margin: 5rem auto;
    border: 0.2rem solid $silver;
    @include border-radius(1.5rem);
    max-width: 65rem;
  }
}

