/*-----[ style guide ]----------------------------------------------------------
*/
#style-guide
{
  #page
  {
    padding: $body-text-line-height $column-width;
  }
  
  #examples
  {
    & > section > h1
    {
      margin-bottom: 2 * $body-text-line-height - ($page-heading-text-size + $vertical-nudge + 0.1);
      border-bottom: 0.1rem solid $light-stroke;
      padding-bottom: $vertical-nudge;
      color: darken($flush-orange, 5);
    }
    
    .explanation h2
    {
      margin: 0;
      color: darken($supernova, 10);
    }
  }
  
  .tables
  {
    .quantity, .price
    {
      text-align: right;
    }

    table
    {
      margin-top: 0;
    }

    tr.total
    {
      font-weight: bold;
    }
  }
}

@media (min-width: 480px)
{
  #intro, .explanation, .example
  {
    max-width: 60rem;
  }
}

@media (min-width: 1024px)
{
  #style-guide #examples
  {
    .explanation, .example
    {
      float: left;
      margin-bottom: $body-text-line-height;
    }
    
    .explanation
    {
      margin-right: 3%;
      width: 32%;
    }

    .example
    {
      width: 65%;
      max-width: 60rem;
    }
    
    .columns .column
    {
      float: left;
      margin-right: 2%;
      width: 32%;
      
      &:last-of-type
      {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 1200px)
{
  #style-guide #page
  {
    max-width: 120rem;
  }
}

